@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

[data-theme='dark']{
    --body_color: #f8f5f5;
}
[data-theme='light']{
    --body_color: #111111c2;
}